# Assignment 3 Functions

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    pass

In [ ]:
# Check
lesser_of_two_evens(2,4)

In [ ]:
# Check
lesser_of_two_evens(2,5)

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    pass

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

**Question 4
Use a list comprehension to create a list of squared numbers (n*n). The function receives the variables start and end, and returns a list of squares of consecutive numbers between start and end inclusively. For example, squares(2, 3) should return [4, 9]**

In [ ]:
def squares(start, end):
    return # list comphrension here

In [ ]:
print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    pass

In [ ]:
# Check
makes_twenty(20,10)

In [ ]:
# Check
makes_twenty(2,3)

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [6]:
def old_macdonald(name):
    def capitalize_name(name):
        if len(name) >= 4:
            # Capitalize the first and fourth letters
            result = name[0].capitalize() + name[1:3] + name[3].capitalize() + name[4:]
            return result
        else:
            # Handle names with less than four letters
            return "Name is too short."

    # Example usage:
    result = capitalize_name(name)
    return result

# Example usage:
name = 'macdonald'
result = old_macdonald(name)
print(result)

MacDonald

In [3]:
def old_macdonald(name):
    if len(name) >= 4:
        # Capitalize the first and fourth letters
        result = name[0].capitalize() + name[1:3] + name[3].capitalize() + name[4:]
        return result
    else:
        # Handle names with less than four letters
        return "Name is too short."

# Example usage:
name = 'macdonald'
result = old_macdonald(name)
print(result)

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [14]:
def master_yoda(sentence):
    # Split the sentence into words
    words = sentence.split()

    # Reverse the order of words
    reversed_words = words[::-1]

    # Join the reversed words into a sentence
    reversed_sentence = " ".join(reversed_words)

    return reversed_sentence



sentence2 = 'We are ready'
result2 = master_yoda(sentence2)
print(result2)

ready are We

In [11]:
def master_yoda(sentence):
    words = sentence.split()
    reversed_words = words[::-1]
    reversed_sentence = " ".join(reversed_words)
    return reversed_sentence

result1 = master_yoda('I am home')
print(result1)

home am I

In [15]:
sentence2 = 'We are ready'
result2 = master_yoda(sentence2)
print(result2)

ready are We

# #### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [18]:
def almost_there(n):
    # Check if n is within 10 of either 100 or 200
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)

# Example usage:
print(almost_there(90))    # True

True
True
False
True

In [21]:
def almost_there(n):
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)

# Example usage:
print(almost_there(104))

True

In [20]:
# Check
def almost_there(n):
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)
print(almost_there(150))

False

In [22]:
# Check
def almost_there(n):
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)
print(almost_there(209))

True

**The highlight_word function changes the given word in a sentence to its upper-case version. For example, highlight_word("Have a nice day", "nice") returns "Have a NICE day". Can you write this function in just one line?**

In [23]:
def highlight_word(sentence, word):
    return sentence.replace(word, word.upper())

In [24]:
print(highlight_word("Have a nice day", "nice"))
# Have a NICE day
print(highlight_word("Shhh, don't be so loud!", "loud"))
#Shhh, don't be so LOUD!
print(highlight_word("Automating with Python is fun", "fun"))
#Automating with Python is FUN

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

**Complete the code to iterate through the keys and values of the car_prices dictionary, printing out some information about each one**

In [27]:
car_prices = {'Toyota': 20000, 'Honda': 18000, 'Ford': 22000}

for make, price in car_prices.items():
    print(f"The price of {make} is ${price}.")

The price of Toyota is $20000.
The price of Honda is $18000.
The price of Ford is $22000.

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
    pass

In [ ]:
# Check
has_33([1, 3, 3])

In [ ]:
# Check
has_33([1, 3, 1, 3])

In [ ]:
# Check
has_33([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    pass

In [ ]:
# Check
paper_doll('Hello')

In [ ]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    pass

In [ ]:
# Check
blackjack(5,6,7)

In [ ]:
# Check
blackjack(9,9,9)

In [ ]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    pass

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

**Taylor and Rory are hosting a party. They sent out invitations, and each one collected responses into dictionaries, with names of their friends and how many guests each friend is bringing. Each dictionary is a partial list, but Rory's list has more current information about the number of guests. Fill in the blanks to combine both dictionaries into one, with each friend listed only once, and the number of guests from Rory's dictionary taking precedence, if a name is included in both dictionaries. Then print the resulting dictionary.**

In [ ]:
def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed
  # only once, and the value from guests1 taking precedence

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))
# shuld give {'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [40]:
def spy_game(nums):
    # Initialize variables to track the position of 0 and 7
    zero1_found = False
    zero2_found = False

    # Iterate through the list
    for num in nums:
        if num == 0:
            # Check if the first zero is found
            zero1_found = True
        elif num == 7 and zero1_found:
            # Check if 7 is found after the first zero
            zero2_found = True

    # Check if both zeros and 7 are found in order
    return zero1_found and zero2_found

# Example usage:
print(spy_game([1, 2, 4, 0, 0, 7, 5]))  # True
print(spy_game([1, 0, 2, 4, 0, 5, 7]))  # True
print(spy_game([1, 7, 2, 0, 4, 5, 0]))  # False

True
True
False

In [29]:

def spy_game(nums):
    # Initialize variables to track the position of 0 and 7
    zero1_found = False
    zero2_found = False

    # Iterate through the list
    for num in nums:
        if num == 0:
            # Check if the first zero is found
            zero1_found = True
        elif num == 7 and zero1_found:
            # Check if 7 is found after the first zero
            zero2_found = True

    # Check if both zeros and 7 are found in order
    return zero1_found and zero2_found

# Example usage:
print(spy_game([1, 2, 4, 0, 0, 7, 5]))  # True

True

In [31]:
def spy_game(nums):
    # Initialize variables to track the position of 0 and 7
    zero1_found = False
    zero2_found = False

    # Iterate through the list
    for num in nums:
        if num == 0:
            # Check if the first zero is found
            zero1_found = True
        elif num == 7 and zero1_found:
            # Check if 7 is found after the first zero
            zero2_found = True

    # Check if both zeros and 7 are found in order
    return zero1_found and zero2_found


print(spy_game([1, 0, 2, 4, 0, 5, 7]))

True

In [35]:
def spy_game(nums):
    zero1_found = False
    zero2_found = False

    # Iterate through the list
    for num in nums:
        if num == 0:
            # Check if the first zero is found
            zero1_found = True
        elif num == 7 and zero1_found:
            # Check if 7 is found after the first zero
            zero2_found = True

    # Check if both zeros and 7 are found in order
    return zero1_found and zero2_found

# Example usage:
print(spy_game([1,7,2,0,4,5,0]))

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [41]:
def count_primes(num):
    # Check if a number is prime
    def is_prime(n):
        if n < 2:
            return False
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                return False
        return True

    # Count prime numbers up to and including the given number
    count = sum(1 for i in range(2, num + 1) if is_prime(i))
    return count

# Example usage:
result = count_primes(100)
print(result)  # Output: 25

25

In [42]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [44]:
def print_big(letter):
    patterns = {
        'a': ['  *  ', ' * * ', '*****', '*   *', '*   *'],
        'b': ['**** ', '*   *', '**** ', '*   *', '**** '],
        'c': [' ****', '*    ', '*    ', '*    ', ' ****'],
        'd': ['**** ', '*   *', '*   *', '*   *', '**** '],
        'e': ['*****', '*    ', '*****', '*    ', '*****'],
    }

    letter_lower = letter.lower()

    if letter_lower in patterns:
        for line in patterns[letter_lower]:
            print(line)
    else:
        print("Letter not supported.")

# Example usage:
print_big('a')

  *
 * *
*****
*   *
*   *

In [49]:
def print_big(letter):
    patterns = {
        'a': ['  *  ', ' * * ', '*****', '*   *', '*   *'],
        'b': ['**** ', '*   *', '**** ', '*   *', '**** '],
        'c': [' ****', '*    ', '*    ', '*    ', ' ****'],
        'd': ['**** ', '*   *', '*   *', '*   *', '**** '],
        'e': ['*****', '*    ', '*****', '*    ', '*****'],
    }

    letter_lower = letter.lower()

    if letter_lower in patterns:
        for line in patterns[letter_lower]:
            print(line)
    else:
        print("Letter not supported.")

# Example usage:
print_big('a')

  *
 * *
*****
*   *
*   *

**The format_address function separates out parts of the address string into new strings: house_number and street_name, and returns: "house number X on street named Y". The format of the input string is: numeric house number, followed by the street name which may contain numbers, but never by themselves, and could be several words long. For example, "123 Main Street", "1001 1st Ave", or "55 North Center Drive". Fill in the gaps to complete this function.**

In [56]:
def format_address(address_string):
    # Declare variables
    house_number = ""
    street_name = ""

    # Separate the address string into parts
    address_parts = address_string.split()

    # Traverse through the address parts
    for part in address_parts:
        # Determine if the address part is the
        # house number or part of the street name
        if part.isdigit():
            house_number = part
        else:
            street_name += part + " "

    # Strip any extra spaces from the street name
    street_name = street_name.strip()

    # Return the formatted string
    return f"house number {house_number} on street named {street_name}"

In [53]:
print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

house number 123 on street named Main Street

In [ ]:
print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

In [55]:
print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 55 on street named North Center Drive

## Done All?
## Great Job!